@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--purple);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}